.button {
    -fx-background-color: #90e0ef;
}

.button:hover {
    -fx-background-color: #b3ecff;
}

.button:pressed,
.button:focused {
    -fx-background-color: #54a0ff;
}

.button:focused {
    -fx-border-color: transparent;
}